{% extends 'layout.html' %}

{% block head %}
    <!-- Add custom CSS here -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div id = "my_textual_div" ></div>
      <div class="row row-offcanvas row-offcanvas-left">

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">

            {% for vehicle in caravan %}
                <a href="#" class="list-group-item" id="vehicle-item" data-vehicle={{vehicle['code']}}>{{vehicle['name']}}</a>
            <!-- <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a> -->
            {% endfor %}
          </div>
        </div><!--/span-->

        <div class="col-xs-12 col-sm-9">
          <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          <div id="map" class="map"></div>
          
        </div><!--/span-->

        
      </div><!--/row-->

{% endblock %}

{% block footer %}
    <script src="{{ url_for('static', filename='js/offcanvas.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
    <script src="{{ url_for('static', filename='js/BpTspSolver.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tsp.js') }}"></script>

    <script type="text/javascript">
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);
        
            function init() {
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 12,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(13.1072034, 77.597427), // New York

                    // How you would like to style the map. 
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [   {       featureType:"all",      elementType:"all",      stylers:[       {           invert_lightness:true       },      {           saturation:10       },      {           lightness:30        },      {           gamma:0.5       },      {           hue:"#1C705B"       }       ]   }   ]
                };

                // Get the HTML DOM element that will contain your map 
                // We are using a div with id="map" seen below in the <body>
                 mapElement = document.getElementById('map');

                // Create the Google Map using out element and options defined above
                map = new google.maps.Map(mapElement, mapOptions);
                var rendererOptions = { map: map };
                directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
                directionsPanel = document.getElementById("my_textual_div");

                // Create the tsp object
                tsp = new BpTspSolver(map, directionsPanel);
                // Set your preferences
                tsp.setAvoidHighways(true);
                tsp.setTravelMode(google.maps.DirectionsTravelMode.DRIVING);

                // Add points (by coordinates, or by address).
                // The first point added is the starting location.
                // The last point added is the final destination (in the case of A - Z mode)
                tsp.addWaypoint(new google.maps.LatLng(13.1072034, 77.697427), function () { console.log("I am doing awesome")});  // Note: The callback is new for version 3, to ensure waypoints and addresses appear in the order they were added in.
                tsp.addWaypoint(new google.maps.LatLng(13.1072034, 77.797427), function () { console.log("I am doing really awesome")});
                tsp.addWaypoint(new google.maps.LatLng(13.1072034, 77.997427), function () { console.log("I am doing shitting awesome")});
                // Or, if you want to start in the first location and end at the last,
                // but don't care about the order of the points in between:
                tsp.solveRoundTrip(function (mytsp) {
                    console.log()
                    directionsDisplay.setDirections(mytsp.getGDirections());

                });

                // Retrieve the solution (so you can display it to the user or do whatever :-)
                var dir = tsp.getGDirections();  // This is a normal GDirections object.
                // The order of the elements in dir now correspond to the optimal route.

                // If you just want the permutation of the location indices that is the best route:
         //       var order = tsp.getOrder();

                // If you want the duration matrix that was used to compute the route:
           //     var durations = tsp.getDurations();

                // There are also other utility functions, see the source.

                console.log(dir);
           //     console.log(order);
            //    console.log(durations);
            }


            $('.map').height($('body').height());
            
        </script>
{% endblock %}
