{% extends 'layout.html' %}

{% block head %}
    <!-- Add custom CSS here -->
    <link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Routely</h1>
                        <h3>Delivering happiness, optimally</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline">
                            <li><a href="/signup" class="btn btn-default btn-lg">Get Started</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Built in collaboration with <br>
                        Akshay Patra Foundation</h2>
                    <p class="lead">A special thanks to <a href="http://www.akshayapatra.org" target="_blank">Akshay Patra foundation</a> for the dataset and the support in building this product.
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/akshaypatra-logo1.jpg') }}" alt="Akshay Patra">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Built @ Code for India Hackathon
                        <br>by Team Routely</h2>
                    <p class="lead">To use, just provide information of the routes and we'll provide you the optimized routes for all your deliveries </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/street-map.jpg') }}" alt="Map">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <!-- <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and
                        <br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div> -->
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6" align="right">
                    <h2>Routely is open source:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline">
                        <li><a href="https://github.com/code-for-india/routely-akshaya-patra" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

{% endblock %}

