{% extends 'layout.html' %}

{% block head %}
    <!-- Add custom CSS here -->
    <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container padding-nav">
    <div class="col-lg-4 col-sm-2">&nbsp;</div>
    <div class="col-lg-4 col-sm-8">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input type="text" class="form-control" id="exampleInputUsername1" name="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary col-lg-12">Submit</button>
        </form>
    </div>
    <div class="col-lg-4 col-sm-2"></div>
</div>
{% endblock %}

{% block footer %}
&nbsp;
{% endblock %}
